.about-page {
    width: 100%;
    height: 100%;
  }
  
  header {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
  }
  
  .overview {
    padding: 20px;
    border-radius: 5px;
  }
  
  .overview h2 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .overview p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.6;
  }
  
